[Unit]
Description=Lethean Full Node
After=network.target

[Service]
User=lethean
Group=lethean
WorkingDirectory=~
StateDirectory=lethean
LogsDirectory=lethean

Type=simple
ExecStart=/usr/bin/letheand --config-file /etc/letheand.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
